.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh ;
}
.card-body {
    background-color: rgb(242, 218, 242);
    height: 300px;
}
.inner-card {
    width: 50%;
    height: 70%;
    max-width: 100%;
    max-height: 100%;
    background-color: white;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 9px;
    font-size: small;
    position:absolute; 
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    overflow: auto;
}
.outer-card {
    position: relative;
    margin-top: 60px; 
    height: 300px;
    width:400px;
}
.faq {
    align-items: center;
  }
  
  .faq .question {
    flex: 1; /* Allow the question to take up all available space */
  }
  .toggle-btn {
    width: 20px;
    height:20px;
    background-color: #cc00ff;
    color: white;
    border-radius:50%;
    border: none; 
    align-items: center; 
    display: flex; 
    justify-content: center;
    box-shadow: 0 2px 4px rgba(147, 133, 133, 0.2);
  }
  .toggle-btn.minus {
    background-color:black;
  }
.answer {
    display: none; 
  }
  
  .show {
    display: block; 
  }
  
